data/*/*.fasta
data/*/*.fa
data/*/*.fastq
data/*/*.fq
bin/
src/identify_homozygous_kmers/identify_homozygous_kmers
counts/
results/
reference/
alignments/
.snakemake/
.Rproj.user
kmer_haplotype_merge.Rproj
